.footer_home {
  display: flex;
  flex-direction: column;
  background-color: #ECECEC;
  margin-top: auto;
}


.footer_container {
  display: flex;
  padding-bottom: 1%;
  width: 100%;
  gap: 2%;
}

.logo_feature_box {
  padding-top: 4%;
  display: flex;
  flex-direction: column;
  width: 44%;
  justify-content: left;
  align-items: center;
  gap: 3%;
}

.logo_feature_box p {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 18px;
  text-align: left;
  width: 70%;
  padding-left: 12%;
  color: #6F6C90;
}
.logo_feature_box img {
  max-height: 22px;
  max-width: 160px;
  padding-right: 7%;
}

.social_media {
  display: flex;
  flex-direction: row;
  align-items: left;
  padding-right: 15%;
  gap: 5%;
}

.facebook_icon {
  width: 21px;
}
.twitter_icon {
  width: 25px;
  height: 70px;
}

.instgram_icon {
  width: 27px;
  height: 80px;
}
.product_feature_box {
  padding-top: 2.5%;
  display: flex;
  flex-direction: column;
  width: 25%;
  padding-left: 5%;
}

.product_feature_links a {
  line-height: 1.8rem;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #6F6C90;
}

.company_feature_box {
  padding-top: 2.5%;
  display: flex;
  flex-direction: column;
  width: 25%;
  padding-right: 0.5%;
}

.company_feature_links a {
  line-height: 1.8rem;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #6F6C90;
}

.support_feature_box {
  padding-top: 2.5%;
  padding-right: 1%;
  display: flex;
  flex-direction: column;
  width: 25%; 
}

.support_feature_links a {
  line-height: 1.8rem;
  display: flex;
  flex-direction: column;
  color: #6F6C90; 
  text-decoration: none;
}


.contact_us_feature_box {
  display: flex;
  padding-top: 2.2%;
  padding-right: 5%;
  flex-direction: column;
  width: 30%; 
}

.contact_us_links {
  line-height: 1.8rem;
  display: flex;
  flex-direction: column; 
}

.contact_us_links a {
  color: #6F6C90;
}

.contact_us_links p {
  line-height: 1.8rem;
  color: #6F6C90; 
  font-style: normal;
  font-size: 15px;
  text-decoration: none;

}

.contact_us_link_mail_icon {
  max-width: 25px;
  align-items: center;
  position: relative;
  top: 24%;
  padding-right: 2%;
}

.contact_us_link_phone_icon {
  max-width: 25px;
  align-items: center;
  position: relative;
  top: 25%;
  padding-right: 2%;
}

.location_container {
  display: flex;

}
.contact_us_link_location_icon {
  max-width: 15%;
  max-height: 32%;
  align-items: center;
  position: relative;
  top: 17%;
  padding-right: 1%; 
}

.footer_below {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.footer_below_copy_right {
  width: 20%;
  padding-left: 0.2%;
}
.footer_below_copy_right p{
  color: #6F6C90;
  font-family: 'DM Sans';
  text-align: center;
  font-style: normal;
  font-size: 18px;
}

.footer_below_right_reserve {
  padding-left: 40%;
}
.footer_below_right_reserve p{
  font-size: 18px;
  font-family: 'DM Sans';
  text-align: center;
  color: #6F6C90;
}

.footer_below_terms_privacy {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1%;
  padding-bottom: 0.5%;
  gap: 15px;
}