.getting-started-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
}

.getting-started-title {
    text-align: center;
}

.getting-started-title h1 {
    color: #000;
    font-size: 3.2rem;
    margin-bottom: 20px;
    line-height: normal;
    font-weight: 380;
}

h2 {
    color: #000;
    font-size: 2.0rem;
    margin-bottom: 30px;
    line-height: normal;
    font-weight: 200; 
}

li {
    padding-top: 1%;
}
.getting-started-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2% 3% 2%;
    margin-top: 5%;
    gap: 20px;
    background-color: #FFF;

}

.getting-started-content-1 {
    width: 60%;
    text-align: left;
}

.getting-started-content-1 p {
    color: #000;
    font-size: 1.2rem;
    line-height: 1.8;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    
}

.getting-started-content-2 {
    width: 60%;
    text-align: left;
}

.getting-started-content-3 {
    width: 60%;
    text-align: left;
}