body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.no-tasks-message {
    font-size: 24px;
    color: #999;
    align-self: center;
    margin: auto;
}

.tasks-container {
    width: 100%;
}

.tasks-container h2 {
    margin-bottom: 20px;
    color: black;
}

.task-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: flex-start;
    width: 100%;
}

.task-item {
    background-color: #FEFEFE;
    border-radius: 3px;
    box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.20);
    text-align: left;
    width: 360px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    cursor: pointer;
}

.task-item-padding {
    width: 100%;
    height: 9rem;
    background-color: #FFA2A2;
    border-radius: 3px 3px 0 0;
}

.task-item:hover {
    transform: scale(1.05);
}

.task-item-img {
    height: 150px;
    width: 100%;
}

.task-item-info {
    display: flex;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}

.task-item-title {
    align-self: stretch;
    font-size: 20px;
    color: black;
    margin: 0px;
}

.task-item-desc {
    align-self: stretch;
    font-size: 14px;
    color: black;
    margin: 0px;
    height: 95px;
}

.task-item-date {
    text-align: right;
    color: #747474;
    align-self: stretch;
    font-size: 14px;
    margin: 0px;
}

.tasks-details-edit {
    padding: 3px 7px;
    border-radius: 3px;
    border: 1px solid black;
    background: black;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.tasks-details-subtitle-container {
    display: flex;
    gap: 6px;
    padding-top: 46px;
}

.tasks-details-subtitle-bold {
    color: black;
    align-self: stretch;
    font-size: 14px;
    margin: 0px;
    font-weight: bold;
}

.tasks-details-subtitle-normal {
    color: black;
    align-self: stretch;
    font-size: 14px;
    margin: 0px;
}

.tasks-expand-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 95%;
    margin-bottom: 20px;
}

.tasks-expand-top-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tasks-expand-top-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tasks-expand-arrows {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 32px;
    color: black;
}

.tasks-expand-member-icon {
    color: black;
}

.tasks-expand-member-name {
    margin: 0px;
    font-size: 24px;
    color: black;
}

.tasks-expand-revision {
    padding: 3px 7px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.tasks-expand-complete {
    padding: 3px 7px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 2px solid black;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}