body {
    background-color: #FFF;
  }
  
  .containerUnderConstruction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2% 3% 2%;
    margin-top: 10%;
    gap: 20px;
    background-color: #FFF;
  }
  
  .underConstructionText {
    width: 55%;
  }
  
  .underConstructionText h1 {
    color: #000;
    font-size: 3.2rem;
    margin-bottom: 20px;
    line-height: normal;
    font-weight: 380;
  }
  
  .underConstructionText p {
    color: #000;
    font-size: 1.4rem;
    line-height: 1.3;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    padding-bottom: 30%;
  }
  